.Main video{
    width: 100%;
    opacity: 0.5;
    
}

.Main{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.img-back{
    background-image: url(../../../public/img/boloDeCenoura.jpg.jpeg);
    width: 100%;
    height: 671px;
    background-size: cover;
}

@media (max-width:700px) {
    video{
        display: none;
    }

    

}

